body{
    padding: 20px;
    background-color: rgb(247, 227, 199);
}
h1{
    color: rgb(63, 169, 169);
    text-shadow: 0 2px yellow;
}
nav{
    display: flex;
    border-radius: 4px;
    background-color: rgb(243, 240, 240);
    color: white;
    height: 60px;
}
nav:hover{
    background-color: rgb(162, 189, 162);
}
.navigation{
    margin: 2px;
    gap: 20px;
    padding: 4px;
    text-align: center;
    width: 30%;
    
}
img{
    height: 300px;
    width: 200px;
    border-radius: 10px
}
#products{
    display: flex;
    gap: 20px;

}
#about_us{
    background-color: black;
    color: aliceblue;
}
#about_us:hover{
    background-color: azure;
    color: brown;
}