nav{
    display: flex;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 60px;
}
nav:hover{
    background-color: darkgreen;
}
.navigation{
    margin: 2px;
    gap: 20px;
    padding: 4px;
    text-align: center;
    width: 30%;
    
}