form{
    background-color: rgb(61, 145, 156);
    width: 50%;
    margin: auto;
    padding: 40px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgb(129, 117, 55);
    color: rgb(108, 49, 49);
    background-image: url('images/background.jpg');
    
}
legend{
    font: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px green;
}
input[type="text"],input[type="email"],input[type="date"],input[type="datetime-local"],
input[type="tel"],select,textarea{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
}
button[type ="submit"]{
    background-color: rgb(86, 134, 155);
   display: block;
   margin: 20px auto;
   border-radius: 4px;
   color: aqua;
   box-shadow: 0 2px rgb(159, 159, 158);
}
button[type="submit"]:hover{
    background-color: rgb(69, 132, 10);
}
