h1{
    text-align: center;
    color: darkblue;
    background-color: lightgray;
}
#headingOne{
    font-size: 90px;
    background-color: whitesmoke;
    color: darkblue;
    text-align: center;
    border-radius: 5px;
}
.paragraph1{
    font-weight: bold;
}
img{
    height: 150px;
    width: 150px;
}
#Image2{
    display: flex;
    background-color: rgb(220, 201, 153);
    border-radius: 5px;
    align-content: center;
    
}
#Image2 img{
    height: 250px;
    width: 250px;
}
#Image img{
    height: 150px;
    width: 150px;
}

#Image2:hover{
    background-color: rgb(46, 46, 172);
}
#suprises{
    display: flex;
    gap: 20px;
}
#suprises img{
    border-radius: 20px;
    height: 150px;
}


#cars{
    display: flex;
    gap: 40px;
}

#button:hover{
    background-color: green;
}
#cars p{
    text-align: center;
    font-size: 40px;
    color: navy;
}
img{
    height: 250px;
    width: 250px;
}