h1{
    text-align: center;
    color: darkblue;
    background-color: lightgray;
}
#headingOne{
    font-size: 90px;
    background-color: whitesmoke;
    color: darkblue;
    text-align: center;
    border-radius: 5px;
}
.paragraph1{
    font-weight: bold;
}
img{
    height: 150px;
    width: 150px;
}
#Image2{
    background-color: goldenrod;
    border-radius: 5px;
    align-content: center;
}
#Image2:hover{
    background-color: rgb(46, 46, 172);
}
#suprises{
    display: flex;
    
}
#suprises img{
    border-radius: 4px;
    margin-right: 10px;
}
#cars{
    display: flex;
    gap: 40px;
}
img{
    height: 400px;
    width: 500px;
}
#button:hover{
    background-color: green;
}
#cars p{
    text-align: center;
    font-size: 40px;
    color: navy;
}